.article__title {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.article__author {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: right;
}

.article__author-right {
  float: left;
  text-align: left;
}

.article__time-since-creation {
  float: right;
  text-align: right;
}
